##### `requirements.txt`
##### HR Staff Portal
##### Open-Source, hostet on https://github.com/DrBenjamin/HRStaffPortal
##### Please reach out to ben@benbox.org for any questions
### All needed libraries (and their versions)
streamlit == 1.17.0
mysql-connector-python == 8.0.29
extra_streamlit_components == 0.1.56
streamlit-scrollable-textbox
streamlit_image_select
streamlit_qrcode_scanner
opencv-python-headless
xlsxwriter
python-docx
openai
deepl
geocoder
geopy
qrcode
pygsheets
googledrivedownloader
loguru