##### `requirements.txt`
##### HR Staff Portal
##### Open-Source, hosted on https://github.com/DrBenjamin/HRStaffPortal
##### Please reach out to ben@benbox.org for any questions
### All needed libraries (and their versions)
streamlit==1.25.0
protobuf==3.20.3
SQLAlchemy 
mysqlclient
pymysql 
mysql-connector-python==8.0.33
mysql-connector-python-rf
extra_streamlit_components==0.1.56
streamlit-scrollable-textbox
streamlit_qrcode_scanner
streamlit-drawable-canvas
opencv-python-headless
xlsxwriter
openpyxl
xlrd
python-docx
openai
deepl
geocoder
geopy
qrcode
pygsheets
googledrivedownloader
mammoth
