##### `requirements.txt`
##### Kamazu Central Hospital (KCH) HR Staff Portal Prototype
##### Open-Source, hostet on https://github.com/DrBenjamin/HRStaffPortal
##### Please reach out to benjamin.gross@giz.de for any questions


### All needed libraries (and their versions)
streamlit == 1.17.0
mysql-connector-python == 8.0.29
shillelagh[all] == 1.1.0
extra_streamlit_components == 0.1.56
streamlit-scrollable-textbox
xlsxwriter
python-docx
openai
deepl
streamlit_qrcode_scanner
qrcode